@model BolaBet.Application.EntitiesMatchesApi.Welcome

@{
    ViewData["Title"] = "Home Page";
}



<table class="table table-striped table-hover">
    <thead>

        <tr class="success">
            <th>
                Brasileirão Série A
            </th>
            <th> </th>
            <th>Casa</th>
            <th>Empate</th>
            <th>Fora</th>
            <th>Ambas</th>
            
            
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Matches)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UtcDate)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.Name) x @Html.DisplayFor(modelItem => item.AwayTeam.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">1,50</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">3,00</button>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">3,50</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">2,50</button>
                </td>
            </tr>
        }

    </tbody>

</table>